# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions
# github actions 中文文档 https://docs.github.com/cn/actions/getting-started-with-github-actions

name: deploy for dev

on:
    push:
        branches:
            - 'dev' # 只针对 dev 分支
        paths:
            - '.github/workflows/*'
            # - '__test__/**' # dev 不需要立即测试
            - 'src/**'
            - 'Dockerfile'
            - 'docker-compose.yml'
            - 'bin/*'

jobs:
    deploy-dev:
        runs-on: ubuntu-latest
        env:
            WJY_ID_RSA: "-----BEGIN RSA PRIVATE KEY-----
MIIG4gIBAAKCAYEAuBnuUMZvp7nzDytRu4XThWtusR74E4fkczBhCchM29EVydtj
RVhlylylq6LCbMlMJb7hqRiD32gpqmmIp8KEYIqYP8tifcUeksYbmLJHKLiZ1tj2
bs76yTvc6qwptNe62mmuRRfP3EKcVCQWXz1XYbAXqGJySMOhb9u6piNnAnhpZnZq
Kf0qz3biR895k76bMRBFLZ3a3AmaPH+1rKCmDhc+nOzN+ZzFDV/XY+8pZRWVpqJP
drsaQDsDxVH7/YAt9ct8yFim8s6VihczuZG8LcKq4PkJXrLBY/4pwp4N4iTBnNbL
SD+jiAQJ+AKCZkXokXI8JiU51ap9HBsCmu/6vSHpBG37lid3vC+VCuXTa2B5M1Ls
lKjpIgZ/xSKM9yWQmkNgd01YpUc0X7jNzgsLkOcN9QVLYHMgO61TgoAAGR2pQG92
uyD/ltP51DOK8fKe45+6LeJh1GP7lNH5T7Cu/0a1ZuruWra/bZsIs4H3AQ4RSe0L
gTMnhQtjYgT1spBlAgMBAAECggGAORWJSLCO9IH69Mwo1q2DTc5nDzKcF2o+kt0A
acka09n8GJAXMuxa+6lIkXSxNowgOV/7lrQMR9yDdtysS+BLraer17QXwQm7FiWp
bupwmBbNVMoHd4pkRrtyH63sbK+rt4enSrM8d36L/KcH7NYXXyn72/FSoG9Qgl+u
e09k5GYzwFqdRpHCkXu6ZCvX9dDXTBpQaPmWYD31/iZXTcSuWJYqivv+ThSnISOD
pPAGdNqBgZ64ZwdS93GVFLz8FrmEf8d/KR2bSQ1Q8+5nWjzYGqIgN+PzsXsRzbBJ
GcCJsJo7xD/6kOK1zG0CsSgDN+M7f6/Lz1mQIEZXYPDdydlsi4a+vFV2rtAxIBVp
Oo6lMIvfd1VWGINewh3cCH1TBTZaicsFDngWh0p00YIYFbTnMq9NdDbgzOlpF7Bo
kGOZmGL1I6hStY8yu64GUk8iN49aYKK5Wela6ay8SIXDg/SOZbmlzbuwYQNp6BJb
ed3pFeb7JeG6Ccr4Tdt2SDU6up4hAoHBAOkIA41+H1B0JVK2GJiGKJZyUHsOEXP/
m1Dd4P7rRSzC6Pt/glkLoHz2k4vmEpDG0MBK+DhRQJYWQan+3TTmcJ2Bzp1Z4PAI
yd7MB1X3qyfLuQo78P+6eRzPofc+MPBGjo6YeajdSTOP6Gi9FXA/aI430Fwkg703
aHeLqyTXN6bOxNHXMZtfh67z0eYdGroWd3b6A/uaASFzBxx1ao3plgtv7l/gOpAb
83wHzAZ+i+cStOiXv/mbTpkLMVQLlMORmQKBwQDKP0kZO6dijOe0EWIsMRngrjvc
X3P2QUYJ0+tDWAlVYBPvQveKq1EsTPQ8B2tDISV2IWno2OF6dI2XrGtofbyag2ol
UMMnVkybNLLIUeW1FiR8oNkD6YVhTyC+nnXe6zSv2QYn+ypSucB+s1acJGO2Mmt4
zMMBGMvyUkG/JtMA7v2+8BJ1CAzZ5SUKejTSyw8/1ex1soD8nhzBM5OV35u9Rv32
NHZuZ2lFgtCvQ3QftonVtpn7dH8m762UiZYmDK0CgcB+ruifhy0m471WlcARSv3N
rB+shh1e3lplP/oNG4Hjr6JQ9yS5m+SHitTzfQQiyLK7lwYSN7nQ3hCchf1jwNMA
DY1xZWcvlteH04s5ZQca/1l9AtEldQ5aZ1Y5vwmD1hex1Zpt/r7I1TcXmZOKDi6d
AiK3tPIZb4HPW5KS2J1chZPiMAa73Nc6eTpmyvO4rnYLrCd2JGbw9EOtaPegZpg3
Z4ZDgPbVWRypFOQJs8oCuNy4habL325/LOKIOjOJjiECgcB7gTwNaa1k9DEGeFsg
K3fnCd9KSwwQhHnVxJD1lgxVE4/420c5ajbuu6umAM3St6odwnfflpnS4twYlFUf
ATGslbW7Rd925S9w1DSdOc3x0KzFYqBD0FYAP4b6gN/wGmgZPomQ3sNQs1hGxxOL
1HkDqTSSF1C6Gb9poiu+JGJUPp27/PT4fMsEQPdmt4wMca5FSEjW8wPrwE5E+U8W
BfAgHPs3X4A3GXVi2mi/rox6VUlEtfbAZLrFNzYj8AU+BR0CgcAQ1JfPmswLAiYl
ZAqRXdxFz2Q4pANUhZiyzTLoK8KKJYeqGttrncrS5sSYxep04qgP4ytJne3bSefJ
WM9rO9G5s+4GhRqYBONgTie9n595jZaMown67AXYSUsg4FNMl3UPA0rBIiOvv+ov
sVYJ0O1/M/QKkjKq+ebf3dDd9Ze1gJ0QWpFco0dIiTuVjIhAOpgDv/3xUqkHo/EE
dzRS0nw6Nb3F7V6wzyk4Q+lAVHWYy9COxEatqIhajeh/Dghe4xY=
-----END RSA PRIVATE KEY-----"
            WJY_PASSWORD: ${{ secrets.WJY_PASSWORD }}
        steps:
            - uses: actions/checkout@v2
            - name: set ssh key # 临时设置 ssh key
              run: |
                  mkdir -p ~/.ssh/
                  echo $WJY_ID_RSA > ~/.ssh/id_rsa
                  chmod 600 ~/.ssh/id_rsa
                  ssh-keyscan "114.132.153.108" >> ~/.ssh/known_hosts
                  cat ~/.ssh/id_rsa
            - name: deploy # 部署
              run: |
                  ssh work@114.132.153.108 "
                    # 【注意】用 work 账号登录，手动创建 /home/work/low-code 目录
                    # 然后 git clone https://username:password@github.com/wangjiayan-study/editor-server -b dev （私有仓库，使用 github 用户名和密码）
                    # 记得删除 origin ，否则会暴露 github 密码

                    cd /home/work/low-code/biz-editor-server;
                    echo https://wangjiayan:$WJY_PASSWORD@github.com/wangjiayan-study/editor-server;
                    git remote add origin https://wangjiayan:$WJY_PASSWORD@github.com/wangjiayan-study/editor-server;
                    git checkout dev;
                    git pull origin dev; # 重新下载最新代码
                    git remote remove origin; # 删除 origin ，否则会暴露 github 密码
                    # 启动 docker
                    docker-compose build editor-server; # 和 docker-compose.yml service 名字一致
                    docker-compose up -d;
                  "
            - name: delete ssh key # 删除 ssh key
              run: rm -rf ~/.ssh/id_rsa
