# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions
# github actions 中文文档 https://docs.github.com/cn/actions/getting-started-with-github-actions

name: deploy for dev

on:
    push:
        branches:
            - 'dev' # 只针对 dev 分支
        paths:
            - '.github/workflows/*'
            # - '__test__/**' # dev 不需要立即测试
            - 'src/**'
            - 'Dockerfile'
            - 'docker-compose.yml'
            - 'bin/*'

jobs:
    deploy-dev:
        runs-on: ubuntu-latest
        env:
            WJY_ID_RSA: "-----BEGIN OPENSSH PRIVATE KEY-----
b3BlbnNzaC1rZXktdjEAAAAABG5vbmUAAAAEbm9uZQAAAAAAAAABAAABlwAAAAdzc2gtcn
NhAAAAAwEAAQAAAYEAuBnuUMZvp7nzDytRu4XThWtusR74E4fkczBhCchM29EVydtjRVhl
ylylq6LCbMlMJb7hqRiD32gpqmmIp8KEYIqYP8tifcUeksYbmLJHKLiZ1tj2bs76yTvc6q
wptNe62mmuRRfP3EKcVCQWXz1XYbAXqGJySMOhb9u6piNnAnhpZnZqKf0qz3biR895k76b
MRBFLZ3a3AmaPH+1rKCmDhc+nOzN+ZzFDV/XY+8pZRWVpqJPdrsaQDsDxVH7/YAt9ct8yF
im8s6VihczuZG8LcKq4PkJXrLBY/4pwp4N4iTBnNbLSD+jiAQJ+AKCZkXokXI8JiU51ap9
HBsCmu/6vSHpBG37lid3vC+VCuXTa2B5M1LslKjpIgZ/xSKM9yWQmkNgd01YpUc0X7jNzg
sLkOcN9QVLYHMgO61TgoAAGR2pQG92uyD/ltP51DOK8fKe45+6LeJh1GP7lNH5T7Cu/0a1
ZuruWra/bZsIs4H3AQ4RSe0LgTMnhQtjYgT1spBlAAAFgNYrExrWKxMaAAAAB3NzaC1yc2
EAAAGBALgZ7lDGb6e58w8rUbuF04VrbrEe+BOH5HMwYQnITNvRFcnbY0VYZcpcpauiwmzJ
TCW+4akYg99oKappiKfChGCKmD/LYn3FHpLGG5iyRyi4mdbY9m7O+sk73OqsKbTXutpprk
UXz9xCnFQkFl89V2GwF6hickjDoW/buqYjZwJ4aWZ2ain9Ks924kfPeZO+mzEQRS2d2twJ
mjx/taygpg4XPpzszfmcxQ1f12PvKWUVlaaiT3a7GkA7A8VR+/2ALfXLfMhYpvLOlYoXM7
mRvC3CquD5CV6ywWP+KcKeDeIkwZzWy0g/o4gECfgCgmZF6JFyPCYlOdWqfRwbAprv+r0h
6QRt+5Ynd7wvlQrl02tgeTNS7JSo6SIGf8UijPclkJpDYHdNWKVHNF+4zc4LC5DnDfUFS2
BzIDutU4KAABkdqUBvdrsg/5bT+dQzivHynuOfui3iYdRj+5TR+U+wrv9GtWbq7lq2v22b
CLOB9wEOEUntC4EzJ4ULY2IE9bKQZQAAAAMBAAEAAAGAORWJSLCO9IH69Mwo1q2DTc5nDz
KcF2o+kt0Aacka09n8GJAXMuxa+6lIkXSxNowgOV/7lrQMR9yDdtysS+BLraer17QXwQm7
FiWpbupwmBbNVMoHd4pkRrtyH63sbK+rt4enSrM8d36L/KcH7NYXXyn72/FSoG9Qgl+ue0
9k5GYzwFqdRpHCkXu6ZCvX9dDXTBpQaPmWYD31/iZXTcSuWJYqivv+ThSnISODpPAGdNqB
gZ64ZwdS93GVFLz8FrmEf8d/KR2bSQ1Q8+5nWjzYGqIgN+PzsXsRzbBJGcCJsJo7xD/6kO
K1zG0CsSgDN+M7f6/Lz1mQIEZXYPDdydlsi4a+vFV2rtAxIBVpOo6lMIvfd1VWGINewh3c
CH1TBTZaicsFDngWh0p00YIYFbTnMq9NdDbgzOlpF7BokGOZmGL1I6hStY8yu64GUk8iN4
9aYKK5Wela6ay8SIXDg/SOZbmlzbuwYQNp6BJbed3pFeb7JeG6Ccr4Tdt2SDU6up4hAAAA
wBDUl8+azAsCJiVkCpFd3EXPZDikA1SFmLLNMugrwoolh6oa22udytLmxJjF6nTiqA/jK0
md7dtJ58lYz2s70bmz7gaFGpgE42BOJ72fn3mNloyjCfrsBdhJSyDgU0yXdQ8DSsEiI6+/
6i+xVgnQ7X8z9AqSMqr55t/d0N31l7WAnRBakVyjR0iJO5WMiEA6mAO//fFSqQej8QR3NF
LSfDo1vcXtXrDPKThD6UBUdZjL0I7ERq2oiFqN6H8OCF7jFgAAAMEA6QgDjX4fUHQlUrYY
mIYolnJQew4Rc/+bUN3g/utFLMLo+3+CWQugfPaTi+YSkMbQwEr4OFFAlhZBqf7dNOZwnY
HOnVng8AjJ3swHVferJ8u5Cjvw/7p5HM+h9z4w8EaOjph5qN1JM4/oaL0VcD9ojjfQXCSD
vTdod4urJNc3ps7E0dcxm1+HrvPR5h0auhZ3dvoD+5oBIXMHHHVqjemWC2/uX+A6kBvzfA
fMBn6L5xK06Je/+ZtOmQsxVAuUw5GZAAAAwQDKP0kZO6dijOe0EWIsMRngrjvcX3P2QUYJ
0+tDWAlVYBPvQveKq1EsTPQ8B2tDISV2IWno2OF6dI2XrGtofbyag2olUMMnVkybNLLIUe
W1FiR8oNkD6YVhTyC+nnXe6zSv2QYn+ypSucB+s1acJGO2Mmt4zMMBGMvyUkG/JtMA7v2+
8BJ1CAzZ5SUKejTSyw8/1ex1soD8nhzBM5OV35u9Rv32NHZuZ2lFgtCvQ3QftonVtpn7dH
8m762UiZYmDK0AAAAFd2p5TTEBAgMEBQY=
-----END OPENSSH PRIVATE KEY-----"
            WJY_PASSWORD: "wjy0.123"
        steps:
            - uses: actions/checkout@v2
            - name: set ssh key # 临时设置 ssh key
              run: |
                  mkdir -p ~/.ssh/
                  echo $WJY_ID_RSA > ~/.ssh/id_rsa
                  chmod 600 ~/.ssh/id_rsa
                  ssh-keyscan "114.132.153.108" >> ~/.ssh/known_hosts
                  cat ~/.ssh/id_rsa
            - name: deploy # 部署
              run: |
                  ssh work@114.132.153.108 "
                    # 【注意】用 work 账号登录，手动创建 /home/work/low-code 目录
                    # 然后 git clone https://username:password@github.com/wangjiayan-study/editor-server -b dev （私有仓库，使用 github 用户名和密码）
                    # 记得删除 origin ，否则会暴露 github 密码

                    cd /home/work/low-code/biz-editor-server;
                    echo https://wangjiayan:$WJY_PASSWORD@github.com/wangjiayan-study/editor-server;
                    git remote add origin https://wangjiayan:$WJY_PASSWORD@github.com/wangjiayan-study/editor-server;
                    git checkout dev;
                    git pull origin dev; # 重新下载最新代码
                    git remote remove origin; # 删除 origin ，否则会暴露 github 密码
                    # 启动 docker
                    docker-compose build editor-server; # 和 docker-compose.yml service 名字一致
                    docker-compose up -d;
                  "
            - name: delete ssh key # 删除 ssh key
              run: rm -rf ~/.ssh/id_rsa
